<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Social Coding Community Participation Guidelines</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:locale" content="en_US" />
    <meta name="description" content="We put people first and do our best to recognize, appreciate and respect the diversity of our global contributors." />
    <meta property="og:title" content="Social Coding Community Participation Guidelines">
    <meta property="og:description" content="We put people first and do our best to recognize, appreciate and respect the diversity of our global contributors." />
    <link rel="canonical" href="{{ site.base_url }}" />
    <meta property="og:url" content="{{ site.base_url }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <script type="application/ld+json">
    {
      "@context":"https://schema.org",
      "@type":"WebSite",
      "title":"Social Coding Community Participation Guidelines",
      "description": "We put people first and do our best to recognize, appreciate and respect the diversity of our global contributors.",
      "publisher":{
        "@type":"Organization",
        "logo":{
          "@type":"ImageObject",
          "url":"{{ "/assets/img/socialcoding-logo-square.svg" | relative_url }}"
        }
      },
      "url":"{{ site.base_url }}"
    }
    </script>

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Community Participation Guidelines</h1>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <img src="{{ "/assets/img/socialcoding-logo-square.svg" | relative_url }}" alt="Logo" />
        <p><small>Maintained by <a href="https://discuss.coding.social">Social Coding Movement</a> &mdash; <a href="https://codeberg.org/SocialCoding/community">Source</a></small></p>
      </footer>
    </div>
  </body>
</html>
